<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- MyBatis可以通过内置的日志工厂提供日志功能,配置如下 -->
    <settings>
        <setting name="logImpl" value="STDOUT_LOGGING" />
    </settings>
    <!-- 配置类型别名 -->
    <typeAliases>
        <package name="cn.lwz.scaffold.entity"/>
    </typeAliases>
</configuration>