<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lwz.scaffold.dao.RoleMapper">
    
    <insert id="addUserRole">
        insert into security.user_role values
        <foreach collection="roles" separator="," item="role">
            (null, #{uid}, #{role})
        </foreach>
    </insert>

    <insert id="addRoles" parameterType="com.lwz.scaffold.entity.Role">
        insert into security.role set name = #{name}, name_zh = #{nameZh}
    </insert>

    <select id="getRolesByUid" resultType="com.lwz.scaffold.entity.Role">
        select r.* from role r, user_role ru where r.id = ru.role_id and ru.user_id = #{uid}
    </select>

</mapper>